body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#enter{
  position: absolute;
  bottom: -10px;
  left: 10px;
  cursor: pointer;
}
#enterfill{
  position: absolute;
  bottom: -10px;
  left: 10px;
  cursor: pointer;
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 8s;
}
.fade-in {
animation: fadeIn ease 8s;
-webkit-animation: fadeIn ease 8s;
-moz-animation: fadeIn ease 8s;
-o-animation: fadeIn ease 8s;
-ms-animation: fadeIn ease 8s;
}
@keyframes fadeIn {
0% {opacity:0;}
90% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
90% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
90% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
90% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
90% {opacity:0;}
100% {opacity:1;}
}
