<!DOCTYPE html>
<html>
  <head>
    <meta charset=UTF-8 />
    <link rel="stylesheet" type="text/css" href="{{ 'styles.css' | asset_url }}" />
    
  {{ content_for_header }}
  </head>
  <body>
  {{ content_for_layout }}
  </body>
  
</html>
